{
  "PRODUCTION": "0",
  "CD_DEPARTEMENT": "",

  "CMIS_URL": "",
  "CMIS_USERNAME": "",
  "CMIS_PASSWORD": "",
  "CMIS_PREFIX": "/Base documentaire/RSA",

  "GEDOOO_METHOD": "cloudooo",
  "GEDOOO_WSDL": "",
  "GEDOOO_CLOUDOOO_HOST": "",
  "GEDOOO_CLOUDOOO_PORT": "8011",
  "GEDOOO_FILTER_VARS": "1",
  "GEDOOO_EXPORT_DATA": "0",

  "DATABASE_CONFIG_DEFAULT_HOST": "postgresql",
  "DATABASE_CONFIG_DEFAULT_LOGIN": "webrsa",
  "DATABASE_CONFIG_DEFAULT_PASSWORD": "webrsa",
  "DATABASE_CONFIG_DEFAULT_SCHEMA": "public",
  "DATABASE_CONFIG_DEFAULT_DATABASE": "webrsa",

  "DATABASE_CONFIG_LOG_HOST": "postgresql",
  "DATABASE_CONFIG_LOG_LOGIN": "webrsa",
  "DATABASE_CONFIG_LOG_PASSWORD": "webrsa",
  "DATABASE_CONFIG_LOG_SCHEMA": "administration",
  "DATABASE_CONFIG_LOG_DATABASE": "webrsa",

  "EMAIL_CONFIG_USER_GENERATION_MDP_TRANSPORT": "Mail",
  "EMAIL_CONFIG_USER_GENERATION_MDP_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_USER_GENERATION_MDP_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_USER_GENERATION_MDP_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_USER_GENERATION_MDP_SUBJECT": "GENERATION_MDP",
  "EMAIL_CONFIG_USER_GENERATION_MDP_HOST": "mailhog",
  "EMAIL_CONFIG_USER_GENERATION_MDP_PORT": 1025,
  "EMAIL_CONFIG_USER_GENERATION_MDP_USERNAME": "",
  "EMAIL_CONFIG_USER_GENERATION_MDP_PASSWORD": "",
  "EMAIL_CONFIG_USER_GENERATION_MDP_CLIENT": "",

  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_TRANSPORT": "Mail",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_SUBJECT": "APRE6_PIECES_MANQUANTES",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_HOST": "mailhog",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_PORT": 1025,
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_USERNAME": "",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_PASSWORD": "",
  "EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_CLIENT": "",

  "EMAIL_CONFIG_FICHE_CANDIDATURE_TRANSPORT": "Mail",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_SUBJECT": "FICHE_CANDIDATURE",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_HOST": "mailhog",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_PORT": 1025,
  "EMAIL_CONFIG_FICHE_CANDIDATURE_USERNAME": "",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_PASSWORD": "",
  "EMAIL_CONFIG_FICHE_CANDIDATURE_CLIENT": "",

  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_TRANSPORT": "Mail",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_SUBJECT": "AVIS_TECHNIQUE_CUI",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_HOST": "mailhog",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_PORT": 1025,
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_USERNAME": "",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_PASSWORD": "",
  "EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_CLIENT": "",

  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_SUBJECT": "EMPLOYEUR_CUI",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_PORT": 1025,
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_USERNAME": "",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_CLIENT": "",

  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_SUBJECT": "DECISION_EMPLOYEUR_CUI",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_PORT": 1025,
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_USERNAME": "",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_CLIENT": "",

  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_SUBJECT": "FICHE_DE_LIAISON",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_PORT": 1025,
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_USERNAME": "",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_CLIENT": "",

  "EMAIL_CONFIG_MAIL_IMPORTFRSA_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_SUBJECT": "IMPORTFRSA",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_PORT": 1025,
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_USERNAME": "",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_IMPORTFRSA_CLIENT": "",

  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_SUBJECT": "PIECE_JOINTE",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_PORT": 1025,
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_USERNAME": "",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_PIECE_JOINTE_CLIENT": "",

  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_SUBJECT": "RECOURS_GRACIEUX",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_PORT": 1025,
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_USERNAME": "",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_RECOURS_GRACIEUX_CLIENT": "",

  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_SUBJECT": "TITRE_SUIVI",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_PORT": 1025,
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_USERNAME": "",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_TITRE_SUIVI_CLIENT": "",

  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_TRANSPORT": "Mail",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_FROM": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_REPLYTO": "webrsa_local@atolcd.com",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_TO": "webrsa_local_to@atolcd.com",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_SUBJECT": "Authentification WebRSA - Utilisateur non trouvé",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_HOST": "mailhog",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_PORT": 1025,
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_USERNAME": "",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_PASSWORD": "",
  "EMAIL_CONFIG_MAIL_LDAP_UTILISATEUR_NON_TROUVE_CLIENT": ""
}
