{
	"PRODUCTION" : "0",
	"CD_DEPARTEMENT" : "66",

	"DATABASE_CONFIG_DEFAULT_HOST" : "localhost",
	"DATABASE_CONFIG_DEFAULT_LOGIN" : "66test",
	"DATABASE_CONFIG_DEFAULT_PASSWORD" : "duLai8Koh8Ai",
	"DATABASE_CONFIG_DEFAULT_SCHEMA" : "public",
	"DATABASE_CONFIG_DEFAULT_DATABASE" : "66test-2",

	"DATABASE_CONFIG_LOG_HOST" : "localhost",
	"DATABASE_CONFIG_LOG_LOGIN" : "webrsa",
	"DATABASE_CONFIG_LOG_PASSWORD" : "webrsa",
	"DATABASE_CONFIG_LOG_SCHEMA" : "administration",
	"DATABASE_CONFIG_LOG_DATABASE" : "webrsa",

	"DATABASE_CONFIG_REQ_HOST" : "localhost",
	"DATABASE_CONFIG_REQ_LOGIN" : "webrsa",
	"DATABASE_CONFIG_REQ_PASSWORD" : "webrsa",
	"DATABASE_CONFIG_REQ_SCHEMA" : "public",
	"DATABASE_CONFIG_REQ_DATABASE" : "webrsa",

	"DATABASE_CONFIG_REF_HOST" : "localhost",
	"DATABASE_CONFIG_REF_LOGIN" : "webrsa",
	"DATABASE_CONFIG_REF_PASSWORD" : "webrsa",
	"DATABASE_CONFIG_REF_SCHEMA" : "referentiel",
	"DATABASE_CONFIG_REF_DATABASE" : "webrsa",

	"DATABASE_CONFIG_TEST_HOST" : "localhost",
	"DATABASE_CONFIG_TEST_LOGIN" : "webrsa",
	"DATABASE_CONFIG_TEST_PASSWORD" : "webrsa",
	"DATABASE_CONFIG_TEST_SCHEMA" : "public",
	"DATABASE_CONFIG_TEST_DATABASE" : "testunit",

	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_TRANSPORT" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_FROM" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_REPLYTO" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_TO" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_SUBJECT" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_HOST" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_USERNAME" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_PASSWORD" : "",
	"EMAIL_CONFIG_APRE66_PIECES_MANQUANTES_CLIENT" : "",

	"EMAIL_CONFIG_FICHE_CANDIDATURE_TRANSPORT" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_FROM" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_REPLYTO" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_TO" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_SUBJECT" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_HOST" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_USERNAME" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_PASSWORD" : "",
	"EMAIL_CONFIG_FICHE_CANDIDATURE_CLIENT" : "",

	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_TRANSPORT" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_FROM" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_REPLYTO" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_TO" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_SUBJECT" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_HOST" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_USERNAME" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_PASSWORD" : "",
	"EMAIL_CONFIG_AVIS_TECHNIQUE_CUI_CLIENT" : "",

	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_TRANSPORT" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_FROM" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_REPLYTO" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_TO" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_SUBJECT" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_HOST" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_USERNAME" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_PASSWORD" : "",
	"EMAIL_CONFIG_MAIL_EMPLOYEUR_CUI_CLIENT" : "",

	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_TRANSPORT" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_FROM" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_REPLYTO" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_TO" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_SUBJECT" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_HOST" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_USERNAME" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_PASSWORD" : "",
	"EMAIL_CONFIG_MAIL_DECISION_EMPLOYEUR_CUI_CLIENT" : "",

	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_TRANSPORT" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_FROM" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_REPLYTO" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_TO" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_SUBJECT" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_HOST" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_USERNAME" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_PASSWORD" : "",
	"EMAIL_CONFIG_MAIL_FICHE_DE_LIAISON_CLIENT" : ""

}