table.permissions tr th, table.permissions tr td {
	vertical-align: middle;
}

table.permissions tr th {
	background-color: white;
	color: black;
}

table.permissions tr.level0 th {
	font-weight: bold;
}

table.permissions tr.level1 th {
	padding-left: 2em;
	font-weight: bold;
}

table.permissions tr.level2 th {
	padding-left: 4em;
}

table.permissions tr.inherit_no th, table.permissions tr.inherit_no td, table.permissions tr.no th, table.permissions tr.no td {
	background: #ffdddd;
}

table.permissions tr.inherit_yes th, table.permissions tr.inherit_yes td, table.permissions tr.yes th, table.permissions tr.yes td {
	background: #ddffdd;
}