form {
    width: auto;
    text-align: left;
}

/* user login form */
#UserLoginForm div.input label{
	width: 100px;
}

#UserLoginForm input{
	width: 250px;
}

#UserLoginForm .submit{
	margin-left: 160px;
	text-align: left;
	margin-bottom: 0;
}

#UserLoginForm .submit input{
	width: 100px;
}

#forgottenpass{
	margin-left: 170px;
    font-size: 0.8em;
}

div.aere {
  margin-top: 0.5em;
}

div.text, div.password, div.select, div.radio, div.date, div.input.time, div.input.datetime, div.textarea, div.input.text, div.input.number {
    margin-bottom: 0.5em;
    width: auto;
}

div.input label, div.input span.label, dl.inform dt {
    display: -moz-inline-box;
    display: inline-table;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    cursor: pointer;
	box-sizing: border-box;
}

fieldset.multiple div.input div.checkbox label {
    display: -moz-inline-box;
    display: inline-table;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    cursor: pointer;
}

div.input.checkbox label {
    width: 90%;
}

div.textarea label, div.textarea textarea, div.input.textarea span.label, div.input.textarea span.input {
    display: block;
    width: 100%;
}

div.input.textarea span.input {
	padding-left: 1em;
}

div.text input, div.password input, div.email input, div.select select, div.input.text span.input, dl.inform dd {
    display: -moz-inline-box;
    display: inline-table;
    display: inline-block;
    width: 50%; /* Grrrr */
	font-size: 1em;
	padding: 5px;
	box-sizing: border-box;
}

div.text input{
	padding: 13px 5px;
}

dl.inform dt, dl.inform dd {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}

td div.text input, td div.password input, td div.select select {
    display: block;
    width: auto;
}

div.submit {
    text-align: center;
    padding: 0.5em;
	margin-bottom: 15px;
}

div.submit input {
    font-size: 1em;
}

abbr.required, acronym.required { color: #cc0000; border: 0; }

form div.error {
    border: 1px solid silver;
    padding: 0.5em;
    background: #fff2f2;
}

form div.error div.error-message, form fieldset.error div.error-message, form table div.error-message {
    color: #cc0000;
}

fieldset {
    margin: 1em 0;
    padding: 50px 20px 20px 20px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	background-color: #f5f5f5;
	position: relative;
	
}

fieldset h2{
	margin-bottom: 25px;
}

fieldset div.text {
    clear: both;
}

fieldset.col2 div.checkbox, fieldset.col2 div.radio, fieldset div.col2 {
    display: block;
    width: 50%;
    float: left;
}

fieldset.col3 div.checkbox, fieldset.col3 div.radio, fieldset div.col3 {
    display: block;
    width: 33%;
    float: left;
}

div.input.disabled, div.checkbox.disabled {
    color: silver;
}

.disabled * {
    color: silver;
}

fieldset.boolean {
    border: 0;
    padding: 0;
    margin: 1em 0;
}

fieldset.boolean label {
    margin-right: 1em;
}

fieldset.invisible {
    border: 0;
    padding: 0;
}

div.textarea.address label, div.textarea.address textarea {
    display: -moz-inline-box;
    display: inline-table;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    cursor: pointer;
	box-sizing: border-box;
}

div.tag.legend>fieldset.multiple>legend{
	font-weight: bold;
}

/*********************************************************************/

fieldset.partenaire.bilan div.radio {
    display: block;
    width: 50%;
    float: left;
}

div.input.radio label{
	margin-right: 5px;
	min-height: 14px;
}

div.input.radio label, div.input.radio input {
	width: auto;
	margin-bottom: 5px;
}

td.error, form fieldset.error {
    background: #fff2f2;
}

/*********************************************************************/

th.entete, td.entete {
    background: #fff2f2;
    color: black;
}
/*tbody tr th.entete{
    background: red;
}*/

/*********************************************************************/

#EpAddEditForm fieldset div.checkbox {
	display: -moz-inline-box;
	display: inline-table;
	display: inline-block;
	width: 32%;
	vertical-align: top;
}

#EpAddEditForm fieldset div.checkbox label {
	width: auto;
}

/*********************************************************************/
h2.bilanparcours {
    font-size: 13px;
    padding: 0;
}

#dspform div.input.checkbox label {
    width: auto;
}

table.cers93 div.input label {
    width: 100%;
}

table#Expprocer93 div.input.select select {
	max-width: 15em;
	overflow: hidden;
}

table#Expprocer93 div.input input {
	max-width: 8em;
}

/* -------------------------------------------------------------------------- */

ul.liste_sujets, ul.liste_sujets ul {
	list-style: none;
}

ul.liste_sujets > li {
	margin-left: 0;
	padding-left: 0;
}

/* -------------------------------------------------------------------------- */

ul.checkboxes.simplelist.inputs {
	list-style: none;
}

ul.checkboxes.simplelist.inputs > li {
	margin-left: 0;
	padding-left: 0;
}

/* -------------------------------------------------------------------------- */

td div.checkboxes.simplelist {
	position: absolute;
	z-index: 1000;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background: red;
}

/* CUI | Nouveaux formulaire normalisé */

fieldset>div.twopart{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

fieldset>div.twopart>fieldset.first{
	margin-right: 5px;
}

fieldset>div.twopart>fieldset.last{
	margin-left: 5px;
}

form.cui_form textarea{
	max-width: 821px;
}

label.little.dark.label{
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-bottom: 15px;
}

p.dark.label.value{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	margin: 0;
}

input.percent, div.text input.percent, input.euros, div.text input.euros{
	margin-bottom: 0px;
	vertical-align: top;
	width: 15%;
	min-width: 50px;
}

.input-group-addon{
	border-left: 0px none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	display: inline-block;
	margin-top: 0;
	vertical-align: top;
	padding: 4px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #EEE;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 4px;
	width: 12px;
	height: 11px;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
	left: -5px;
}

input.miniInput, div.text input.miniInput{
	width: 50px;
}

input[type=text],input[type=number],input[type=email],input[type=date],input[type=password]{
	border-style: solid;
	-webkit-appearance: textfield;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(192, 192, 192);
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(192, 192, 192);
	border-left-width: 1px;
	border-right-color: rgb(192, 192, 192);
	border-right-width: 1px;
	border-top-color: rgb(192, 192, 192);
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: auto;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-kerning: auto;
	font-size: 13px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
	height: 21px;
	letter-spacing: normal;
	line-height: 15.6000003814697px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 5px;
	text-align: start;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
}

.Cui66AddEdit div.input.select, div.input.text, div.input.date, div.input.value{
	min-height: 21px;
}

.Cui66AddEdit span.label{
	min-height: 17px;
	padding: 4px 0;
	vertical-align: top;
	display: inline-block;
}

.Cui66AddEdit span.input{
	min-height: 17px;
	padding: 4px 0;
	vertical-align: middle;
	display: inline-block;
}

.Cui66AddEdit div.input.value.date{
	margin: 0;
}

.bilansparcours66 #Bilanparcours66Situationperso{
	height: 350px;
}

#listeEntretiens table th, #listeCERs table th{
	width: 22%;
}

#listeEntretiens, #listeCERs{
	height: 400px;
	border: 1px solid #C0C0C0;
}

#listeEntretiens table, #listeCERs table{
	width: 100%;
}

div.scrollable, fieldset.scrollable{
	overflow: auto;
	-moz-resize: vertical;
	-webkit-resize: vertical;
	resize: vertical;
}

div.divideInto2Columns label, div.divideInto3Columns label, div.input.divideInto2Columns label, div.input.divideInto3Columns label {
	width: auto;
}

#FormRequestmaster div.input.checkbox {
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #FFFFFF;
	position: relative;
}

#FormRequestmaster div.input.checkbox:hover {
	background-color: #C0C0C0!important;
}

#FormRequestmaster div.input.checkbox input[type=checkbox] {
	position: absolute;
	top: 4px;
}

#FormRequestmaster div.input.checkbox label span {
	margin-left: 14px;
	display: inline-block;
}

#FormRequestmaster div.input.checkbox label {
	width: 50%;
	min-height: 25px;
	box-sizing: border-box;
}

#FormRequestmaster div.input.checkbox input[type=text], #FormRequestmaster div.input.checkbox select {
	width: 50%;
	box-sizing: border-box;
}

#FormRequestmaster div.subinput {
	position: relative;
}

#FormRequestmaster div.subinput input[type=text], #FormRequestmaster div.subinput select {
	margin-left: 50%;
	box-sizing: border-box;
}

#FormRequestmaster div.subinput input[type=text] {
	margin-top: 4px;
}

#FormRequestmaster div.success {
    background: none repeat scroll 0% 0% #ECFFE8;
    margin: 1em 0px;
    border: 1px solid #158000;
    padding: 0.5em;
    color: #158000;
}