/******************************************************************************
    Général
******************************************************************************/

html{
	height: 100%;
}

* {
	line-height: 1.2;
	outline: none;
 }

body {
    font-family: sans-serif;
    font-size: 13px;
	height: 100%;
}

p, ul, ol, dl { margin: 0.75em 0; }

p {
    line-height: 1.4em;
    text-align: justify;
}

sup { vertical-align: super; }
sub { vertical-align: sub; }
sup, sub { font-size: 65%; }

a{
	color: #000;
	text-decoration: underline;
}

a:visited{
	color: #3b87af;
}

a:hover{
	color: #3b87af;
}

/******************************************************************************
    Titres
******************************************************************************/

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2em;
}

h1 { font-size: 1.95em; }
h2 { font-size: 1.56em; }
h3 { font-size: 1.25em; }

body.dossiers.index h2 { font-size: 1.95em; }
body.dossiers.index h3 { font-size: 1.56em; }
body.dossiers.index h4 { font-size: 1.25em; }

/******************************************************************************
    Abbréviations
******************************************************************************/

abbr, acronym, .abbr {
    border-bottom: 1px dotted black;
    cursor: help;
}

/* FIXME ? */

*[lang|=en] abbr[lang|=fr], *[lang|=en] acronym[lang|=fr], *[lang|=en] .abbr[lang|=fr],
*[lang|=fr] abbr[lang|=en], *[lang|=fr] acronym[lang|=en], *[lang|=fr] .abbr[lang|=en] {
    font-style: normal;
}

/**[title] {
    border-bottom: 1px dotted black;
    cursor: help;
}*/

a[title] {
    cursor: pointer;
}


/******************************************************************************
    Mise en évidence
******************************************************************************/

b, strong {
    font-weight: bold;
}

i, em/*, *[lang|=en]*/, cite {
    font-style: italic;
}

*[lang|=en] *[lang|=fr], *[lang|=fr] *[lang|=en] {
    font-style: italic;
}

/******************************************************************************
    Code
******************************************************************************/

code {
    font-family: monospace;
    border: 1px solid silver;
    background: #ffffdd;
}

/******************************************************************************
    Listes
******************************************************************************/

ul { list-style-type: disc; }
ol { list-style-type: decimal; }
li { margin-left: 1.8em; }

/******************************************************************************
    Citations
******************************************************************************/

q {
    font-style: italic;
    /*border-bottom: 1px dotted black;*/
}

blockquote {
    border-bottom: 0;
    border-left: 1px dotted black;
    margin-left: 1em;
    padding: 0 0.5em;
}

blockquote[title] {
    border-bottom: 0;
    border-left: 1px dotted black;
    margin-left: 1em;
    padding: 0 0.5em;
}

/******************************************************************************
    Tableaux
******************************************************************************/

table {
    border-collapse: collapse;
    margin-top: 0.5em;
}

th, td {
    padding: 0.25em 0.5em;
    border: 1px solid black;
    vertical-align: top;
    background: white;
}

th {
    font-weight: normal;
    text-align: center;
}

thead th {
    text-align: center;
}

table ol, table ul {
    margin: 0;
}

table li {
    margin-left: 1em;
}

caption {
    line-height: 1em;
    padding: 0 0 0.5em 0;
    caption-side: bottom;
}

tbody th {
    text-align: left;
}

td.number {
    text-align: right;
}
/* FIXME */
div.submit {
    text-align: center;
    padding: 0.5em;
}

/******************************************************************************
    Droits
******************************************************************************/
table#tableDroits {
        border-collapse: separate;
        color: black;
}
#tableDroits th {
        border: 1px solid Black;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        background-color: #f4f4f4;
}
#tableDroits td {
        border: 1px solid Black;
        border-top: 0;
        padding-left: 10px;
        padding-right: 10px;
}
#tableDroits tr {
        background: transparent;
        color: black;
}
#tableDroits tr.ligneProfil {
        background-color: #DFEE8F;
}
#tableDroits tr.altLigneProfil {
        background-color: #CFF358;
}
#tableDroits tr.ligneUtilisateur {
        background-color: #E8E8E8;
}
#tableDroits tr.altLigneUtilisateur {
        background-color: #D9D9D9;
}
#tableDroits img {
        border: 0;
}
.droits {
    color: black;
}

/* FIXME: class details */

dt {
	border: 1px solid silver;
	background: #eef;
	padding: 0.5em;
}

dd {
	border: 1px solid silver;
	border-top: 0;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

dt.answered, dd.answered {
	font-weight: bold;
}

/******************************************************************************
    Apre
******************************************************************************/

form#Apre div.checkbox label {
	width: auto;
}

/*****************************************************************************/

table.etatliquidatif.header, table.etatliquidatif.apres {
	font-size: 9px;
	width: 100%;
}

/*----------------------------------------------------------------------------*/

table.etatliquidatif.header {
	width: 100%;
	border: 0;
	margin-bottom: 1.5em;
}

table.etatliquidatif.header tbody {
	border: 0;
}

table.etatliquidatif.header th, table.etatliquidatif.header td {
	background: none;
	border: 0;
	color: black;
}

table.etatliquidatif.header th {
	font-weight: bold;
	width: 15em;
}

/*----------------------------------------------------------------------------*/

table.etatliquidatif.apres th {
	background: none;
	color: black;
	font-weight: bold;
}

table.etatliquidatif.apres tbody, table.etatliquidatif.apres thead, table.etatliquidatif.apres tfoot {
	border-color: black;
}

/*----------------------------------------------------------------------------*/

table td span.number {
    display: block;
    text-align: right;
}

/*----------------------------------------------------------------------------*/

dl.allocataire.infos dt, dl.allocataire.infos dd {
    display: inline;
    border: 0;
    background: inherit;
}

dl.allocataire.infos dt {
    font-weight: bold;
}

/*------------------------------ Ajout/Edition Période Immersion --------------------------------*/

table#infosCui {
    width: 100%;
    border: 0;
}

table#infosCui tbody {
    border: 0;
}

table#infosCui th {
    width: 48%;
}

table#infosCui th, table#infosCui td {
    background: transparent;
    color: black;
    border: 0;
    padding: 0.25em 0;
}

table#infosCui th{
    font-weight: bold;
}

/*------------------------------ Ajout/Edition PDO --------------------------------*/

table#dossierInfosOrganisme {
    width: 100%;
    border: 0;
}

table#dossierInfosOrganisme tbody {
    border: 0;
}

table#dossierInfosOrganisme th {
    width: 48%;
}

table#dossierInfosOrganisme th, table#dossierInfosOrganisme td {
    background: transparent;
    color: black;
    border: 0;
    padding: 0.25em 0;
}


table#infosPdo {
    width: 100%;
    border: 0;
}

table#infosPdo tbody {
    border: 0;
}

table#infosPdo th {
    width: 48%;
}

table#infosPdo th, table#infosPdo td {
    background: transparent;
    color: black;
    border: 0;
    padding: 0.25em 0;
}

/**
* Dsps
*/

#dsps dt, #dsps dd {
	font-weight: bold;
}

#dsps dt.empty, #dsps dd.empty {
	font-weight: normal;
}

#dsps dt.empty {
	margin-bottom: 0.5em;
}

#dsps dd.empty {
	display: none;
}

/*form#Apre  td.fraisdepct input {
    width: 30%;
}*/

form#Apre  div.fraisdepct {
    width: 25%;
	float: left;
}


form#Apre  table.fraisdepct {
    width: 15em;
}

form#Apre  table.fraisdepct caption {
    caption-side: top;
	border: 1px solid #235F7D;
	background: #235F7D;
	text-align: center;
	color: white;
	padding: 0;
	margin: 0;
}


form#Apre  table.fraisdepct th {
    width: 8em;
}

form#Apre  table.fraisdepct td.fraisdepct {
    width: 3em;
	max-width: 3em;
}

form#Apre  table.fraisdepct td.fraisdepct input {
    width: 5em;
	max-width: 5em;
}



form#Apre  table.fraisdepct2 td.fraisdepct2 {
    width: 1em;
    max-width: 1em;
}
form#Apre  table.fraisdepct2 td.fraisdepct2 input {
    width: 1em;
    max-width: 1em;
}

/***************************************/
/*****     Partie pour le CUI      *****/
/**************************************/
form#cuiform fieldset.prescripteur{
    position: center;
}

form#cuiform fieldset#Adressebis{
    border: 0;
}

form#cuiform .cui1 {
    width: 50%;
}

form#cuiform table.cui3 tbody tr td {
    width: 48%;
}

form#cuiform .cui2 {
    width: 50%;
}

form#cuiform .cui3 {
    width: 100%;
}

form#cuiform .cui4 {
    width: 50%;
}


form#cuiform table.cui5 tbody tr td {
    width: 48%;
}



form#cuiform .cui5 td div.select select {
    display: -moz-inline-box;
    display: inline-table;
    display: inline-block;
    width: 10%;
}

form#cuiform .cui5 td div.radio {
/*    display: -moz-inline-box;
    display: inline-table;
    display: inline-block;*/
    width: 50%;
}

form#cuiform table.cui5  p {
    font-weight: bold;
}

form#cuiform input#CuiTauxfixe {
    width: 10%;
}

form#cuiform input#CuiTauxprisencharge {
    width: 10%;
}

form#cuiform input#CuiTauxfinancementexclusif {
    width: 10%;
}

form#cuiform table.cuiduree td.dureehebdo{
    width: 33%;
}

form#cuiform table.cuiduree td.dureehebdo input {
    width: 8%;
}

form#cuiform fieldset div.text {
    clear: none;
}

form#cuiform td div.text input, form#cuiform td div.password input, form#cuiform td div.select select {
    display: -moz-inline-box;
    display: inline-table;
    display: inline-block;
    width: 48%; /* Grrrr */
}

/*----------------------------------------------------------------------------*/
form#cuiform dl.allocataire.cuis dt, dl.allocataire.cuis dd {
    border: 0;
    background: inherit;
}

form#cuiform dl.allocataire.cuis dt {
    font-weight: bold;
}

/*----------------------------------------------------------------------------*/

#tableEditDroits td {
	vertical-align: middle;
}

/*----------------------------------------------------------------------------*/

.query h3 {
	margin: 1em 0;
}

.query .errormessage {
	border: 1px solid silver;
	padding: 0.5em;
	background: #fff000;
	margin: 0 0 1em 0;
	font-family: monospace;
}

.query .sql {
	border: 1px solid silver;
	padding: 0.5em;
	margin: 0 0 1em 0;
	font-family: monospace;
}

/* CSS utilisé dans la gestion des anomalies de la base de données */

table#personnes tr.highlight td, table#personnes tr.even.highlight td, table.tableliee tr.highlight td, table.tableliee tr.even.highlight td {
	background: #ffecbf;
}

/******************************************************************************/

body.questionnairesd1pdvs93.view #pageContent table {
	width: 100%;
}

body.questionnairesd1pdvs93.view #pageContent table td {
	width: 20em;
}

body.questionnairesd1pdvs93.view #pageContent table td + td {
	width: auto;
}

/******************************************************************************/

body.tableauxsuivispdvs93.tableau1b5 #pageContent table tbody td.number, body.tableauxsuivispdvs93.tableau1b5 #pageContent table tbody td.number {
	width: 8%;
}

body.tableauxsuivispdvs93.tableau1b5 #pageContent table caption, body.tableauxsuivispdvs93.tableau1b5 #pageContent table caption {
	caption-side: top;
}

/******************************************************************************/

body.tableauxsuivispdvs93.tableau1b6 #pageContent table.wide thead th,
body.tableauxsuivispdvs93 #pageContent table.wide.tableau1b6 thead th {
	width: auto;
}

body.tableauxsuivispdvs93.tableau1b6 #pageContent table tbody td.name,
body.tableauxsuivispdvs93 #pageContent table.tableau1b6 tbody td.name {
	width: 60%;
}

body.tableauxsuivispdvs93.tableau1b6 #pageContent table tbody td.theme,
body.tableauxsuivispdvs93 #pageContent table.tableau1b6 tbody td.theme {
	width: 10%;
}

body.tableauxsuivispdvs93.tableau1b6 #pageContent table tbody td.number,
body.tableauxsuivispdvs93 #pageContent table.tableau1b6 tbody td.number {
	width: 10%;
}

/**
 * Tableau D1 (CCG 93)
 */
body.tableauxsuivispdvs93.tableaud1 #pageContent h2 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.5em;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 caption {
	caption-side: top;
	text-align: center;
	background: #235f7d;
	border: 1px solid #235f7d;
	color: white;
	padding: 0.125em 0.25em;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 th,
body.tableauxsuivispdvs93 #pageContent table.tableaud1 td {
	border: 1px solid black;
	padding: 0.125em 0.25em;
	background: white;
	color: black;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 th {
	font-weight: normal;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 thead tr.main th {
	border: 0;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody th {
	text-align: left;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody td {
	text-align: right;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1.middle caption,
body.tableauxsuivispdvs93 #pageContent table.tableaud1.middle thead tr.main,
body.tableauxsuivispdvs93 #pageContent table.tableaud1.last caption,
body.tableauxsuivispdvs93 #pageContent table.tableaud1.last thead tr.main {
	display: none;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 thead tr th,
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody tr.total th,
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody tr.category th,
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody tr.category td {
	background: #235F7D;
	color: white;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 thead tr.category th {
	text-align: left;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tfoot th {
	background: #E6EEF2;
}

/* Largeur des colonnes */
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody th {
	width: 33.33%;
	min-width: 33.33%;
	max-width: 33.33%;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody td {
	width: 5.13%;
	min-width: 5.13%;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud1 tbody th.colonne_dont {
	width: 0.1%!important;
	max-width: 0.1%!important;
}
/**
 * Tableau D2 (CCG 93)
 */
body.tableauxsuivispdvs93.tableaud2 #pageContent h2 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.5em;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud2 caption {
	caption-side: top;
	text-align: center;
	background: #235f7d;
	border: 1px solid #235f7d;
	color: white;
	padding: 0.125em 0.25em;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud2 {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud2 th,
body.tableauxsuivispdvs93 #pageContent table.tableaud2 td {
	border: 1px solid black;
	padding: 0.125em 0.25em;
	background: white;
	color: black;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud2 th {
	font-weight: normal;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud2 thead tr.main th {
	border: 0;
}
/*body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody th {
	text-align: left;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody td {
	text-align: right;
}*/
body.tableauxsuivispdvs93 #pageContent table.tableaud2 thead tr th,
body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody tr.total th {
	background: #235F7D;
	color: white;
}
body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody th.total,
body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody td.number.total {
	background: #E6EEF2;
}

/* Largeur des colonnes */
body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody th.categorie1 {
	width: 22.5%;
	min-width: 22.5%;
	max-width: 22.5%;
}

body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody th.categorie2 {
	width: 15%;
	min-width: 15%;
	max-width: 15%;
}

body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody th.categorie3 {
	width: 22.5%;
	min-width: 22.5%;
	max-width: 22.5%;
}

body.tableauxsuivispdvs93 #pageContent table.tableaud2 tbody td.number {
	width: 5%;
	min-width: 5%;
	max-width: 5%;
}

/* Visualisation des mémos */
body.memos.view #pageContent table {
	width: 100%;
}

body.memos.view #pageContent table td {
	width: 16em;
	max-width: 16em;
}

body.memos.view #pageContent table td.data {
	width: auto;
}

/**/
body.tableauxsuivispdvs93 table th.subtotal, body.tableauxsuivispdvs93 table td.subtotal {
	background: #e6eef2;
}

body.fichesprescriptions93.edit #DureeActionPdi, body.fichesprescriptions93.add #DureeActionPdi {
	margin-bottom: 1.5em;
}

/* Nouvelle version des statistiques ministérielles (2014) */
body.statistiquesministerielles #pageContent h2 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.5em;
}
body.statistiquesministerielles #pageContent caption {
	caption-side: top;
	text-align: center;
	background: #235f7d;
	border: 1px solid #235f7d;
	color: white;
	padding: 0.125em 0.25em;
}
body.statistiquesministerielles #pageContent table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
body.statistiquesministerielles #pageContent th,
body.statistiquesministerielles #pageContent td {
	border: 1px solid black;
	padding: 0.125em 0.25em;
	background: white;
	color: black;
}
body.statistiquesministerielles #pageContent th {
	font-weight: normal;
}
body.statistiquesministerielles #pageContent thead tr.main th {
	border: 0;
}
body.statistiquesministerielles #pageContent tbody th,
body.statistiquesministerielles #pageContent tfoot th {
	text-align: left;
}
body.statistiquesministerielles #pageContent tbody td,
body.statistiquesministerielles #pageContent tfoot td {
	text-align: right;
}
body.statistiquesministerielles #pageContent table.middle caption,
body.statistiquesministerielles #pageContent table.middle thead tr.main,
body.statistiquesministerielles #pageContent table.last caption,
body.statistiquesministerielles #pageContent table.last thead tr.main { /*TODO: au milieu aussi -> position-first/... ?*/
	display: none;
}
body.statistiquesministerielles #pageContent thead tr th,
body.statistiquesministerielles #pageContent tbody tr.total th {
	background: #235F7D;
	color: white;
}
body.statistiquesministerielles #pageContent thead tr.category th {
	text-align: left;
}
body.statistiquesministerielles #pageContent tfoot th,
body.statistiquesministerielles #pageContent tfoot td {
	background: #E6EEF2;
}

/* Largeur des colonnes: orientations */
body.statistiquesministerielles.indicateurs_orientations #pageContent tbody th,
body.statistiquesministerielles.indicateurs_orientations #pageContent tfoot th {
	width: 33.33%;
	min-width: 33.33%;
}
body.statistiquesministerielles.indicateurs_orientations #pageContent tbody td,
body.statistiquesministerielles.indicateurs_orientations #pageContent tfoot td {
	width: 13.13%;
	min-width: 13.33%;
}

/* Décalage des intitulés des sous-points des indicateurs d'organismes */
body.statistiquesministerielles.indicateurs_organismes #pageContent tr.dont_orientation_professionnelle_ou_socioprofessionnelle th,
body.statistiquesministerielles.indicateurs_organismes #pageContent tr.dont_orientation_sociale th{
	padding-left: 2em;
}

/* Largeur des colonnes: réorientations */
body.statistiquesministerielles.indicateurs_reorientations #pageContent tbody th,
body.statistiquesministerielles.indicateurs_reorientations #pageContent tfoot th,
body.statistiquesministerielles.indicateurs_reorientations2 #pageContent tbody th,
body.statistiquesministerielles.indicateurs_reorientations2 #pageContent tfoot th {
	width: 40%;
	min-width: 40%;
}
body.statistiquesministerielles.indicateurs_reorientations #pageContent tbody td,
body.statistiquesministerielles.indicateurs_reorientations #pageContent tfoot td,
body.statistiquesministerielles.indicateurs_reorientations2 #pageContent tbody td,
body.statistiquesministerielles.indicateurs_reorientations2 #pageContent tfoot td {
	width: 20%;
	min-width: 20%;
}

body.statistiquesministerielles.indicateurs_motifs_reorientation #pageContent tbody tr.total th {
	width: 80%;
	min-width: 80%;
}

body.statistiquesministerielles.indicateurs_caracteristiques_contrats #pageContent table,
body.statistiquesministerielles.indicateurs_caracteristiques_contrats2 #pageContent table {
	width: 100%;
	margin-bottom: 1em;
}

body.statistiquesministerielles.indicateurs_caracteristiques_contrats #pageContent table tbody th,
body.statistiquesministerielles.indicateurs_caracteristiques_contrats2 #pageContent table tbody th {
	width: 40%;
}

body.statistiquesministerielles.indicateurs_caracteristiques_contrats #pageContent table tbody td,
body.statistiquesministerielles.indicateurs_caracteristiques_contrats2 #pageContent table tbody td {
	width: 20%;
}

body.statistiquesministerielles ul.actions li.action a {
	background-image: url( ../img/icons/application_form_magnify.png );
}

/**
 * Statistiques DREES (2018-12)	
 */
body.statistiquesdrees #pageContent h2 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.5em;
}
body.statistiquesdrees #pageContent caption {
	caption-side: top;
	text-align: center;
	background: #235f7d;
	border: 1px solid #235f7d;
	color: white;
	padding: 0.125em 0.25em;
}
body.statistiquesdrees #pageContent table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
body.statistiquesdrees #pageContent th,
body.statistiquesdrees #pageContent td {
	border: 1px solid black;
	padding: 0.125em 0.25em;
	background: white;
	color: black;
}
body.statistiquesdrees #pageContent th {
	font-weight: normal;
}
body.statistiquesdrees #pageContent thead tr.main th {
	border: 0;
}
body.statistiquesdrees #pageContent tbody th,
body.statistiquesdrees #pageContent tfoot th {
	text-align: left;
}
body.statistiquesdrees #pageContent tbody td,
body.statistiquesdrees #pageContent tfoot td {
	text-align: right;
}
body.statistiquesdrees #pageContent table.middle caption,
body.statistiquesdrees #pageContent table.middle thead tr.main,
body.statistiquesdrees #pageContent table.last caption,
body.statistiquesdrees #pageContent table.last thead tr.main { /*TODO: au milieu aussi -> position-first/... ?*/
	display: none;
}
body.statistiquesdrees #pageContent thead tr th,
body.statistiquesdrees #pageContent tbody tr.total th {
	background: #235F7D;
	color: white;
}
body.statistiquesdrees #pageContent thead tr.category th {
	text-align: left;
}
body.statistiquesdrees #pageContent tfoot th,
body.statistiquesdrees #pageContent tfoot td,
body.statistiquesdrees #pageContent tbody th.total,
body.statistiquesdrees #pageContent tbody td.total {
	background: #E6EEF2;
}

/* Largeur des colonnes: orientations */
body.statistiquesdrees.indicateurs_orientations #pageContent tbody th,
body.statistiquesdrees.indicateurs_orientations #pageContent tfoot th {
	width: 33.33%;
	min-width: 33.33%;
}
body.statistiquesdrees.indicateurs_orientations #pageContent tbody td,
body.statistiquesdrees.indicateurs_orientations #pageContent tfoot td {
	width: 13.13%;
	min-width: 13.33%;
}

/* Décalage des intitulés des sous-points des indicateurs d'organismes */
body.statistiquesdrees.indicateurs_organismes #pageContent tr.dont_orientation_professionnelle_ou_socioprofessionnelle th,
body.statistiquesdrees.indicateurs_organismes #pageContent tr.dont_orientation_sociale th{
	padding-left: 2em;
}

/* Largeur des colonnes: réorientations */
body.statistiquesdrees.indicateurs_reorientations #pageContent tbody th,
body.statistiquesdrees.indicateurs_reorientations #pageContent tfoot th,
body.statistiquesdrees.indicateurs_reorientations2 #pageContent tbody th,
body.statistiquesdrees.indicateurs_reorientations2 #pageContent tfoot th {
	width: 40%;
	min-width: 40%;
}
body.statistiquesdrees.indicateurs_reorientations #pageContent tbody td,
body.statistiquesdrees.indicateurs_reorientations #pageContent tfoot td,
body.statistiquesdrees.indicateurs_reorientations2 #pageContent tbody td,
body.statistiquesdrees.indicateurs_reorientations2 #pageContent tfoot td {
	width: 20%;
	min-width: 20%;
}

body.statistiquesdrees.indicateurs_motifs_reorientation #pageContent tbody tr.total th {
	width: 80%;
	min-width: 80%;
}

body.statistiquesdrees.indicateurs_caracteristiques_contrats #pageContent table,
body.statistiquesdrees.indicateurs_caracteristiques_contrats2 #pageContent table {
	width: 100%;
	margin-bottom: 1em;
}

body.statistiquesdrees.indicateurs_caracteristiques_contrats #pageContent table tbody th,
body.statistiquesdrees.indicateurs_caracteristiques_contrats2 #pageContent table tbody th {
	width: 40%;
}

body.statistiquesdrees.indicateurs_caracteristiques_contrats #pageContent table tbody td,
body.statistiquesdrees.indicateurs_caracteristiques_contrats2 #pageContent table tbody td {
	width: 20%;
}

body.statistiquesdrees ul.actions li.action a {
	background-image: url( ../img/icons/application_form_magnify.png );
}


/**
 * Indicateurs Plan Pauvreté (2019-12)
 */
body.statistiquesplanpauvrete #pageContent h2 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.5em;
}
body.statistiquesplanpauvrete #pageContent caption {
	caption-side: top;
	text-align: center;
	background: #235f7d;
	border: 1px solid #235f7d;
	color: white;
	padding: 0.125em 0.25em;
}
body.statistiquesplanpauvrete #pageContent table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
body.statistiquesplanpauvrete #pageContent th,
body.statistiquesplanpauvrete #pageContent td {
	border: 1px solid black;
	padding: 0.125em 0.25em;
	background: white;
	color: black;
}
body.statistiquesplanpauvrete #pageContent th {
	font-weight: normal;
}
body.statistiquesplanpauvrete #pageContent thead tr.main th {
	border: 0;
}
body.statistiquesplanpauvrete #pageContent tbody th,
body.statistiquesplanpauvrete #pageContent tfoot th {
	text-align: left;
}
body.statistiquesplanpauvrete #pageContent tbody td,
body.statistiquesplanpauvrete #pageContent tfoot td {
	text-align: right;
}
body.statistiquesplanpauvrete #pageContent table.middle caption,
body.statistiquesplanpauvrete #pageContent table.middle thead tr.main,
body.statistiquesplanpauvrete #pageContent table.last caption,
body.statistiquesplanpauvrete #pageContent table.last thead tr.main { /*TODO: au milieu aussi -> position-first/... ?*/
	display: none;
}
body.statistiquesplanpauvrete #pageContent thead tr th,
body.statistiquesplanpauvrete #pageContent tbody tr.total th {
	background: #235F7D;
	color: white;
}
body.statistiquesplanpauvrete #pageContent thead tr.category th {
	text-align: left;
}
body.statistiquesplanpauvrete #pageContent tfoot th,
body.statistiquesplanpauvrete #pageContent tfoot td,
body.statistiquesplanpauvrete #pageContent tbody th.total,
body.statistiquesplanpauvrete #pageContent tbody td.total {
	background: #E6EEF2;
}

/* Largeur des colonnes: orientations */
body.statistiquesplanpauvrete.indicateurs_orientations #pageContent tbody th,
body.statistiquesplanpauvrete.indicateurs_orientations #pageContent tfoot th {
	width: 33.33%;
	min-width: 33.33%;
}
body.statistiquesplanpauvrete.indicateurs_orientations #pageContent tbody td,
body.statistiquesplanpauvrete.indicateurs_orientations #pageContent tfoot td {
	width: 13.13%;
	min-width: 13.33%;
}

/* Décalage des intitulés des sous-points des indicateurs d'organismes */
body.statistiquesplanpauvrete.indicateurs_organismes #pageContent tr.dont_orientation_professionnelle_ou_socioprofessionnelle th,
body.statistiquesplanpauvrete.indicateurs_organismes #pageContent tr.dont_orientation_sociale th{
	padding-left: 2em;
}

/* Largeur des colonnes: réorientations */
body.statistiquesplanpauvrete.indicateurs_reorientations #pageContent tbody th,
body.statistiquesplanpauvrete.indicateurs_reorientations #pageContent tfoot th,
body.statistiquesplanpauvrete.indicateurs_reorientations2 #pageContent tbody th,
body.statistiquesplanpauvrete.indicateurs_reorientations2 #pageContent tfoot th {
	width: 40%;
	min-width: 40%;
}
body.statistiquesplanpauvrete.indicateurs_reorientations #pageContent tbody td,
body.statistiquesplanpauvrete.indicateurs_reorientations #pageContent tfoot td,
body.statistiquesplanpauvrete.indicateurs_reorientations2 #pageContent tbody td,
body.statistiquesplanpauvrete.indicateurs_reorientations2 #pageContent tfoot td {
	width: 20%;
	min-width: 20%;
}

body.statistiquesplanpauvrete.indicateurs_motifs_reorientation #pageContent tbody tr.total th {
	width: 80%;
	min-width: 80%;
}

body.statistiquesplanpauvrete.indicateurs_caracteristiques_contrats #pageContent table,
body.statistiquesplanpauvrete.indicateurs_caracteristiques_contrats2 #pageContent table {
	width: 100%;
	margin-bottom: 1em;
}

body.statistiquesplanpauvrete.indicateurs_caracteristiques_contrats #pageContent table tbody th,
body.statistiquesplanpauvrete.indicateurs_caracteristiques_contrats2 #pageContent table tbody th {
	width: 40%;
}

body.statistiquesplanpauvrete.indicateurs_caracteristiques_contrats #pageContent table tbody td,
body.statistiquesplanpauvrete.indicateurs_caracteristiques_contrats2 #pageContent table tbody td {
	width: 20%;
}

body.statistiquesplanpauvrete ul.actions li.action a {
	background-image: url( ../img/icons/application_form_magnify.png );
}



/* Codes ROME V3 */
body.cataloguesromesv3 ul.actions li.action a.cataloguesromesv3.index {
	background-image: url( ../img/icons/application_form_magnify.png );
}
body.dsps.index .innerTable {
    min-width: 40em;
}

/* Moteur de recherche magique */

form#magic_search{
	position: absolute;
	top: 125px;
	right: 15px;
}

form#magic_search>input#search{
	width: 300px;
}

form#magic_search>input[type=submit]{
	background: url( ../img/icons/magnifier.png ) no-repeat center center;
	background-size: 20px 20px;
	width: 35px;
	height: 25px;
}

/* Règles CSS permettant de surcharger les règles de bootstrap qui surchargent les règles utilisées précédemment */
body a {
	text-decoration: underline;
}
table thead a, table thead a:hover, table thead a:focus {
	text-decoration: underline;
}
table thead a:hover, table thead a:focus {
	color: white;
}

/* Présentation un peu spéciale pour la page de flux CNAF */
body.flux tr.error.missing td { background: #fcc; }
body.flux h1, body.flux h2, body.flux h3 { margin: 0.5em 0; }

/* Mise en évidence (en gras) de champs et d'options de formulaires. @see Evidence (js) */
div.input.evidence label, fieldset.evidence legend,
option.evidence, div.input.checkbox label.evidence, div.input.radio label.evidence,
div.input.select div.checkbox.evidence {
	font-weight: bold;
}
div.input.evidence.title label, fieldset.evidence.title legend,
option.evidence.title, div.input.checkbox.title label.evidence, div.input.radio label.title.evidence,
div.input.select div.checkbox.evidence.title label {
	cursor: help;
}
div.input.select.evidence div.checkbox label {
	font-weight: inherit;
	cursor: pointer;
}

table.table-view {
	width: 100%;
	margin-bottom: 20px;
}

table.table-view tbody {
	width: 100%;
	border-width: 1px;
}

table.table-view caption {
	font-weight: bold;
	caption-side: top;
	text-align: center;
	background: #235f7d;
	border: 1px solid #235f7d;
	border-bottom: 0px;
	color: white;
	padding: 0.125em 0.25em;
}

table.table-view tbody th {
	width: 30%;
}

table.table-view tbody td, table.table-view tbody td.data.integer {
	text-align: left;
	padding-left: 20px;
}

/* Tables pouvant être triées en JS via la librairie TableKit (PrototypeJS) */
table.sortable thead th.sortcol {
	cursor: pointer;
	text-decoration: underline;
}

/*******************************************************************************
 * Ecran de synthèse du suivi
 ******************************************************************************/
body.accompagnementsbeneficiaires table.details {
	width: 100%;
}

body.accompagnementsbeneficiaires table.index, body.accompagnementsbeneficiaires table.search {
	width: 100%;
}

body.accompagnementsbeneficiaires table.details tbody th {
	width: 20em;
	max-width: 20em;
}