<li><a name="hist"></a>3.2&nbsp; L'historique des dossiers RSA</li>
<p><b><i>La synthèse du dossier</b></i> vous permet de visualiser les actions d'un allocataire sur <b><i>l'ancien dossier des allocataires séparés</b></i> (recomposition familiale).<br/>

Sur les couples séparés (changement de la composition du foyer), il est possible de visualiser les informations de l'ancien dossier; Le nouveau dossier propose les informations disponibles sur l'ancien dossier du conjoint : Il y a un lien vers l'ancien dossier.<br/>
Sur le nouveau dossier du Bénéficiaire, il est indiqué où se trouvent les anciennes informations:</p>
<img src="/didac/images/histancdos.jpg" alt="Historique des dossiers" width="605px" height="335px" />
<p>Ci-dessus : Informations sur les CER</p>
<img src="/didac/images/ancdos.jpg" alt="Historique des dossiers" width="605px" height="72px" />
<p>Cette information est disponible sur toute l'activité du projet insertion emploi et pour tout le parcours du Bénéficiaire :</p>
<ul>
<li>CER</li>
<li>Orientations</li>
<li>Personne chargée du suivi </li>
<li>Rendez-vous</li>
<li>D1</li>
<li>D2</li>
<li>Fiche de prescription</li>
</ul>
<p>Lorsqu'on clique sur le lien "Voir" (ici sur les CER), on consulte les dossiers du conjoint sur lequel ce Bénéficiaire apparaît sans prestation :</p>
<img src="/didac/images/ancer.jpg" alt="Historique des dossiers" width="604px" height="222px" /><br/>
<a href="#haut">Haut de la page</a><br/>
<li><a name="cf"></a>3.3&nbsp; La composition du foyer</li>



<p>Le mémo</p>
<img src="/didac/images/mem.jpg" alt="Le mémo" width="220px" height="62px" />




<p>Il est important pour votre activité d'enrichir la base WebRSA  &nbsp;: Ces informations actualisées vous permettront ensuite d'effectuer des recherches.</p>


<img src="/didac/images/rubpli.jpg" alt="le droit" width="445px" height="235px" />

<img src="/didac/images/rubrique.jpg" alt="Rubrique du dossier" width="432px" height="532px" />


<!-- Positionner les rubriques face à l'image-->
<div style="position:relative; display:block; float:right; right:175px;width:250px;">
<p>Ces informations existent sur le dossier à la fois pour le <b>demandeur</b> et pour son <b>conjoint</b>.<br/></p>
</div>
<br/>
<a href="#haut">Haut de la page</a>
<br/>
<ul>

<li><b>Référent du parcours  &nbsp;:</b> Consulter le référent ou modifier le référent.</li>
<li><b>Gestion RdV &nbsp;:</b> Consulter ou ajouter un rendez-vous.</li>
<li><b>Questionnaire D1  &nbsp;:</b> Renseigner le formulaire pour mettre à jour vos statistiques.</li>
</ul>